@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply print:hidden inline-flex items-center justify-center px-4 py-2 font-mono text-xs md:text-base font-bold tracking-wide duration-300 bg-gray-200 border-0 rounded-md  cursor-pointer ring-0 bg-opacity-90 hover:ring-2 hover:bg-opacity-80 focus-visible:ring-2 shadow-lg hover:shadow focus-visible:ring-offset-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus:ring-2 ring-gray-800;
}

.btn.red {
  @apply bg-red-200 text-red-900 shadow-red-500/50 outline-none ring-red-600 print:text-gray-900 print:bg-gray-200 dark:bg-red-300 dark:ring-red-200;
}

.btn.blue {
  @apply bg-indigo-200 text-indigo-900 shadow-indigo-500/50 outline-none ring-indigo-600 print:text-gray-900 print:bg-gray-200 dark:bg-indigo-300 dark:ring-indigo-200;
}

.btn.yellow {
  @apply bg-amber-200 text-amber-900 shadow-amber-500/50 outline-none ring-amber-600 print:text-gray-900 print:bg-gray-200 dark:bg-amber-300 dark:ring-amber-200;
}

.btn.green {
  @apply bg-emerald-200 text-emerald-900 shadow-emerald-500/50 outline-none ring-emerald-600 print:text-gray-900 print:bg-gray-200 dark:bg-emerald-300 dark:ring-emerald-200;
}

.st9 {
  fill: #face41;
}
.st10 {
  fill: #2bb673;
}
.st11 {
  fill: #1c75bc;
}
.st12 {
  fill: #27aae1;
}
.st13 {
  fill: #2e3192;
}
.st14 {
  fill: #92278f;
}
.st15 {
  fill: #be1e2d;
}
.st16 {
  fill: #f7941e;
}
.st17 {
  fill: #ec008c;
}
.st18 {
  fill: #662d91;
}

.home .logo-container svg path {
  stroke: #fff;
  fill: #fff;
}

.home .st9 {
  fill: #fff;
}
.home .st10 {
  fill: #fff;
}
.home .st11 {
  fill: #fff;
}
.home .st12 {
  fill: #fff;
}
.home .st13 {
  fill: #fff;
}
.home .st14 {
  fill: #fff;
}
.home .st15 {
  fill: #fff;
}
.home .st16 {
  fill: #fff;
}
.home .st17 {
  fill: #fff;
}
.home .st18 {
  fill: #fff;
}